.container {
    display: flex;
    border: 5px solid darkseagreen;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-around;
}

#small, #medium, #large {
    border: 3px solid lightyellow;
    width: 30%;
    text-align: left;
    margin: 10px;
    padding: 5px;
    background-color: lightcoral;
    color: grey;
}


@media screen and (min-width: 0px) and (max-width: 480px) {
    body {
        background-color: beige;
        font-family: Arial;
        /*display: block;*/
    }

    .container {
        flex-direction: column;
    }

    #small, #large, #medium {
        width: 90%;
    }

    /* Display / hide elements*/
    /*#medium {*/
    /*    display: none;*/
    /*}*/
    /*#large {*/
    /*    display: none;*/
    /*}*/
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        background-color: lightskyblue;
        font-family: 'Open Sans', sans-serif;
    }

    .container {
        flex-wrap: wrap;
    }

    #small {
        flex-grow: 2;
    }

    /*#medium{*/
    /*    flex-grow: 1;*/
    /*}*/
    #large {
        flex-grow: 3;
    }

    /* Display / hide elements*/
    /*#small {*/
    /*    display: none;*/
    /*}*/
    /*#large {*/
    /*    display: none;*/
    /*}*/
}

@media screen and (min-width: 1024px) {
    body {
        background-color: darkkhaki;
        font-family: 'Indie Flower', cursive;
    }

    /* Display / hide elements*/
    /*#medium {*/
    /*    display: none;*/
    /*}*/
    /*#small {*/
    /*    display: none;*/
    /*}*/
}